a {
  text-decoration: none;
}

.name {
  font-size: 14px;
  font-weight:700;
  top: 7px;
  font-family: "Microsoft YaHei UI";
}

.name :hover {
  color: #0090ee;
}

.team {
  font-size:12px;
  color: #7b7b7b;
  font-family: "Microsoft YaHei", arial;
}

.batch {
  font-size:12px;
  color: #7b7b7b;
  font-family: "Microsoft YaHei", arial;
}

.rank {
  width: 25px;
  height: 25px;
  background: #f3f3f3;
  font-size: 14px;
  font-family: "Microsoft YaHei", arial;
}
