<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
    <a class="navbar-brand" href="#"></a>
    <div class="collapse navbar-collapse" id="navbarSupportContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/members" routerLinkActive="active">成员</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/performances" routerLinkActive="active">公演</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/standings" routerLinkActive="active">排行</a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
